
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');

footer { /*El pie de enrique*/
    background-color:white;
    color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
  }
  .footer-content p {/*texto  */
    margin: 5px 0;
    font-size: 14px;
  }
  .card p { /*texto del nav */
    font-size: 16px;
    color: #666;
  } 
  
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
  .card img { /*tamaños de las imagenes */
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
    text-align: center;
  }
  .cards-container {
    display: flex; /*activar flexbox*/
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
  }
  .card { /*card del index*/
    width: 300px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
  }
  nav{ /* nav el que esta arriba de las imagenes*/
    display: flex;/*activar flexbox*/
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
   
}
nav img{/*tamaño de imagen del nav*/
    width: 100px;
    
    
}
nav a{ /*texto del nav */
    text-decoration: none;
    size: 19px;
    color: white;
    text-align: center; 
    
}
nav a:hover{ /* efecto del texto en el nav*/
    text-decoration: underline;
}
.card_center
{
    padding: 20px;
    text-align: center;

}
.card_ñontent { /*card de la historia de los intramuros del rical*/
    padding: 20px;
    text-align: center;
    background-color: j;
    width: 75%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
  }
 
  body {/*arreglitos del body*/
    margin: 0;
    padding: 0;
    font-family: 'IM+Fell+English', Courier, monospace;
    background-color: white;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
 /*para telefonos celulares*/
 @media (width <= 480px){
  nav{
    flex-direction: column;
  }
  .container{
    flex-direction: column-reverse;
    gap: 20px;

  }
  footer{
    flex-direction: column;
  }
}
.cards-container img{
width: 300px;
height: 55%;
}
  