@import url('https://fonts.googleapis.com/css2?family=IM+Fell+English:ital@0;1&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'IM+Fell+English', Courier, monospace;
    background-color: white;
    background: linear-gradient(to rigth , #e2e2e2,#c9d6ff);
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
  }
  .iconos-sociales{
    margin: 20px 0;
  }
  .iconos-sociales a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
  }
  .conta{
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba( 0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-width: 480px;

  }
  .conta p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
  }
  .conta a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
  }
  .conta button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
  }
  .conta button.hidden{
    background-color: transparent;
    border-color: #fff;
  }
  .conta form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;

  }
  .conta input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
  }
  .form-conta{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
  }
  footer {
    background-color:white;
    color: black;
    text-align: center;
    padding: 15px 0;
    margin-top: auto;
  }
  .footer-content p {
    margin: 5px 0;
    font-size: 14px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    background-color: black;
   
}
nav img{
    width: 100px;
    
    
}
nav a{
    text-decoration: none;
    size: 19px;
    color: white;
    text-align: center;
    
}
nav a:hover{
    text-decoration: underline;
}
.v{
 display: grid;
  place-items: center;
}
